<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="wot-verification" content="96d6b4a50a255d6123b2"/>
    <title>WebPoint Solutions LLC</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700|Arimo:400,700" rel="stylesheet">
	<link rel="shortcut icon" href="/public/images/wp-favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/form.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body id="body" class="is-boxed has-animations">
		<!--POPUP MODAL -->
		<!--Modal1 -->
		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/webpoint-logo.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">ABOUT OUR COMPANY</h4>
					<p class="text-sm">WebPoint Solutions, LLC was started in 2019, and we provide premium web and mobile  development services remotely.</p>
					<h5>WebPoint Solutions LLC</h5>
					<p class="text-sm">55 Alcovy Forest Dr.<br> 
					Decatur, GA 30014</p>
					<h5>WebPoint Solutions, LLC's Guiding Values</h5>
					<p class="text-sm">There are many aspects of our agency that set us in a class of our own. But more than anything else, it is our company’s values that make us stand out. Consider our guiding values, as stated below:</p>
					<h5>Unrivaled Communication</h5>
					<p class="text-sm">WebPoint Solutions understands that communication is just as important as talent, especially when you are contracting with a firm for the first time. We hate when people see our messages and don’t respond, so you can rest assured that we will not do the same to you! Additionally, WebPoint Solutions makes ourselves available at all times via your preferred channel of communication throughout the entirety of your project. Whether you have questions, you want to check the status of your project, or you have input to provide, we are always available to chat. Even if we don’t have time, we’ll make time for you!</p>
					<h5>Quality</h5>
					<p class="text-sm">Communication is great, but without professional-grade quality, the best communication in the world wouldn’t matter! When you pay for professional services, you expect professional results, and rightfully so! Quality is associated with qualifications, and at WebPoint Solutions, we are qualified to handle your web and mobile development needs. Quality is guaranteed to you and is one of our most basic promises to our customers.</p>
					<h5>Attention to Detail</h5>
					<p class="text-sm">In line with providing excellent quality designs, development, marketing, and other services to our clients, WebPoint Solutions stands out from our competitors due to the time and attention that we give to details of each project that we take on. We believe that attention to the minutia is what separates great web development and digital marketing companies from the good ones. When you consider the exceptional quality of service that we provide along with meticulous attention to detail; WebPoint Solutions is proud to be one of the great service providers in our field of expertise.</p>
					<h5>Integrity</h5>
					<p class="text-sm">Integrity means doing the right thing when no one is looking, and this is one of our most important core values at WebPoint Solutions! Whether it involves handling a visitor's privacy, handling a client’s money or project, you can always count on WebPoint Solutions to do the right thing, even when no one else notices!</p>
					<h5>Transparency</h5>
					<p class="text-sm">At WebPoint Solutions, we strongly believe that a sneaky, mysterious, or obscure service provider is the worst! Have you ever had a service provider who was evasive or not direct when you asked them specific questions? We have! And our promise to you is that we won’t do that to you. WebPoint Solutions operates with total transparency at all times. We want to earn your trust.</p>
					<h5>Honesty</h5>
					<p class="text-sm">Along with transparency, honesty is key to any successful relationship, and a client/freelancer or client/service provider relationship is no exception! That is why you can count on WebPoint Solutions to tell it like it is, even if doing so apparently isn’t in our best financial interest. We may not always tell you what you want to hear, but we’ll always tell you what you need to hear, and that’s a huge difference that you’re only going to find with WebPoint Solutions!</p>
					<h5>Simplicity</h5>
					<p class="text-sm">Last but not least, one of our most important values is simplicity. Often, digital marketers and web developers make our practice seem overly complicated and difficult to understand. While there are highly technical aspects of what we do, the ideas, principles, and concepts behind our work are very simple and straight-forward. Our clients love that we make the complex seem easy, even for the average layman!</p>
				</div>
			</div>
		</div>

		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/web-dev.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">WEB DEVELOPMENT</h4>
					<p class="text-sm">Please, don’t waste your time and money by outsourcing your web development project to India in a vain attempt to save a few dollars. WebPoint Solutions is an American-owned and operated web development agency that speaks your language, understands what you need, what you expect, and what your goals are concerning web development, and we deliver high-quality results every time!</p>
					<p class="text-sm">We help turn your visions into reality. We’ll coordinate with you to make the website you want and use our own experience and creativity to take it to the next level, meeting or surpassing your expectations. Contact us for a free, no-obligation consultation. We’ll go over your needs and goals with you, discuss various web development options, and help you find a solution that compliments your budget. If you decide to go ahead with our services, we will customize a website that you will be proud to call your own for many years to come!</p>
				</div>
			</div>
		</div>
		<!-- Modal2 -->
		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/ui-ux.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">UX DESIGN &amp; RESEARCH</h4>
					<p class="text-sm">WebPoint also specializes in  UX design &amp; research. We take time to understand the interations your users will have with your website, and we create a design interface that will keep your users happy engaged. Have an existing webiste that is not optimized? Through special tracking tools, we can research the actual user interactions within your site as they take place, allowing us to see sticking points, or missed opportunities. In all projects, our goal is always the same, to design the product so that it is easy to use, meets our client’s business goals, and meets their user’s expectations.  But is UX design really a worthwhile investment?</p>
					<p class="text-sm">Yes.  The fact is, websites and applications that invest in UX design are more profitable than those that don’t. By investing in your UX design, you can expect to convert more leads, have a lower bounce rate, and generate more revenue or experience more of your users taking the action that you want them to take while on your platform. Most of our UX design customers realize their investments within as little as 1-3 months! Trust us; UX design doesn’t have to be difficult. Web Point makes it easy to understand and affordable to all.</p>
				</div>
			</div>
		</div>
		<!-- Modal3 -->
		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/web-host.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">WEBSITE HOSTING</h4>
					<p class="text-sm">Too much downtime, slow load times, poor security, bad customer services, not enough features – these are the complaints that we hear repeatedly from our new web hosting clients! WebPoint can host your website through our industry leading cloud hosting provider, offering fast, reliable, and affordable, hosting service.</p>
					<p class="text-sm">Whether yours is a brand-new website or you’re looking to change hosts; WebPoint welcomes you! Contact us today to learn more about our web hosting services.</p>
				</div>
			</div>
		</div>
		<!-- Modal4 -->
		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/store.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">E-COMMERCE</h4>
					<p class="text-sm">Selling online might seem simple enough, but running a successful e-commerce store requires a great degree of technical know-how! There is a recipe or secret to building successful e-commerce stores, and if you don’t know it, you’ll be firing in the dark! WebPoint’s expertise includes:</p>
					<ul>
						<li>Custom Magento themes</li>
						<li>Front-end Development</li>
						<li>Extension Development</li>
						<li>API &amp; Extension Integration</li>
						<li>Technical Support</li>
					</ul>
					<p class="text-sm">WebPoint is much more than just another web developer! We nurture our e-commerce clients with essential modules, such as inventory management, customer management, order processing, and marketplace management. Put simply; We create custom solutions for our clients to manage their online stores as efficiently and profitably as possible!</p>
				</div>
			</div>
		</div>
		<!-- Modal5 -->
		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/web-maintenance.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">WEBSITE MAINTENANCE</h4>
					<p class="text-sm">Your website is your storefront online. Every serious website needs monthly website maintenance, such as monthly website updates, making sure the site is secure, and making sure the website runs smoothly as it was designed to. Additionally, websites need monthly content revisions, editing, and corrections to make sure that website content remains fresh and relevant. Further still, you can boost your online sales considerably with monthly website maintenance by keeping products and services current and by updating sales, discounts, and special offers.</p>
					<p class="text-sm">WebPoint offers website maintenance services for busy website owners who just don’t have the time or the know-how to do it themselves. We can make sure that you are keeping your customers updated and that your website continues to perform optimally at all times.</p>
				</div>
			</div>
		</div>
		<!-- Modal6 -->
		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/marketing.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">DIGITAL MARKETING &amp; SEO</h4>
					<p class="text-sm">WebPoint’s SEO and digital marketing experts understand your needs as a website owner.  The problem is that you are probably not an SEO or digital marketing expert yourself.  Therefore, you probably don’t know if what you are being told by your marketers is accurate or if they overcharging you for their services.</p>
					<p class="text-sm">WebPoint provides transparent, flat rate SEO and digital marketing services that are customized to the specific needs of each client whom we work with.  Feel free to learn more about our services by requesting a free consultation.</p>
				</div>
			</div>
		</div>
		<!-- Modal7 -->
		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/wordpress.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">WORDPRESS MANAGEMENT</h4>
					<p class="text-sm">WebPoint’s SEO and digital marketing experts understand your needs and frustrations as a website owner. For example, you need these services to tap into new markets, gain new leads, convert more visitors, and grow your business, but you are probably not an SEO or digital marketing expert yourself. Therefore, you probably don’t know if what you are being told by your marketers is accurate or if they are overcharging you for their services.</p>
					<p class="text-sm">Web Point is proud to be one of the most trusted national digital marketing/SEO agencies in the United States! We have worked hard to earn a reputation of trustworthiness, and you can rest assured that we will work even harder to maintain it!  Web Point provides transparent, flat rate SEO and digital marketing services that are customized to the specific needs of each client whom we work with. Feel free to learn more about our services by requesting a free consultation.</p>
				</div>
			</div>
		</div>
		<!-- Modal8 -->
		<div id="modal">
			<div class="modal-content">
				<div id="modal-close">&#8592;<span></span>Get Back</div>
				<div class="service-modal-container">
					<div class="feature-icon">
						<img src="/public/images/wordpress.svg" alt="Feature 03">
					</div>
					<h4 class="feature-title">MOBILE APP DEVELOPMENT &amp; PWA</h4>
					<p class="text-sm">Save money and development time by building your next mobile app project with the powerful cross-platform React Native code. Companies such as Facebook, Walmart, and Bloomberg are all using React Native to diliver an amazing experience for their customers. </p>
					<p class="text-sm">Get app-like functionality by converting your website into a Progressive Web App. This allows for things such as push notifications, offline viewing, and homescreen icon, accessing the camera, and much more.</p>
				</div>
			</div>
		</div>
		<!-- Modal9 -->
		<div id="modal">
				<div class="modal-content">
					<div id="modal-close">&#8592;<span></span>Get Back</div>
					<div class="main-content">
						<img src="/public/images/hhes.png" alt="better-way-of-life" 
							 onclick="imageClick('https://www.hhesbiblestory.com/')"
							 style="cursor: pointer"
							 >
						<div class="main-content-left">
							<h3>HHES Bible Story</h3>
							<h6>Web Design</h6>
							<p>Home Health Education Service wanted to upgrade their existing website by creating an updated design that 
							would incorporate an improved user interface design as well as better user experience. The old site was created with WordPress, 
							but we saw that was not necessary since the content is fairly static, so we opted to also build this site with HTML, CSS, and JavaScript 
							only like Better Way of Life. Instead of opening each book description in a new page which takes much time to load, we created modals 
							which would open almost instantly, greatly decreasing wait times. Additionally, we connected the lead generation form which we built for all of HHES’ websites.  
								</p>
							<div class="row-wrapper">
								<span class="row-title">Client</span>
								<h5>HHES Bible Story</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Creative Fields</span>
								<h5>Development, Art Direction</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Year</span>
								<h5>2019</h5>
							</div>
							<div class="project-launch">
								<a href="https://hhesbiblestory.com/" target="_blank">Launch Project &#8594;</a>
							</div>
						</div>
					</div>
				</div>
		</div>
		<!-- Modal10 -->
		<div id="modal">
				<div class="modal-content">
					<div id="modal-close">&#8592;<span></span>Get Back</div>
					<div class="main-content">
						<img src="/public/images/better-way-of-life.png" 
							alt="better-way-of-life" 
							onclick="imageClick('https://betterwayoflife.com/')"
							style="cursor: pointer"
							/>
						<div class="main-content-left">
							<h3>Better Way Of Life</h3>
							<h6>Web Design</h6>
							<p>Home Health Education Service wanted a lead generation landing page to highlight their health related books. 
							We were requested to create a simple and attractive design that was also very easier for the user to navigate and 
							respond to the Call to Action buttons. Since the site was not content heavy, we opted to build it with only HTML, CSS, and JavaScript. 
							We implemented a Spanish version of the site as well, and connected the lead generation form which we built for all three of HHES’ websites.</p>
							<div class="row-wrapper">
								<span class="row-title">Client</span>
								<h5>Better Way Of Life</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Creative Fields</span>
								<h5>Development, Art Direction</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Year</span>
								<h5>2019</h5>
							</div>
							<div class="project-launch">
								<a href="https://betterwayoflife.com/" target="_blank">Launch Project &#8594;</a>
							</div>
						</div>
					</div>
				</div>
		</div>
		<!-- Modal11 -->
		<div id="modal">
				<div class="modal-content">
					<div id="modal-close">&#8592;<span></span>Get Back</div>
					<div class="main-content">
						<img src="/public/images/childrens-century-classics.png" 
							alt="better-way-of-life" 
							 onclick="imageClick('https://childrenscenturyclassics.com/')"
							 style="cursor: pointer"
							 >
						<div class="main-content-left">
							<h3>Children's Century Classics</h3>
							<h6>Custom WordPress Development</h6>
							<p>HHES was facing a lot of issues with their subscription based website for the Children’s Century Classics companion account. 
							Built with an out of date CMS system, it did not incorporate good user experience principles. 
							We recommended they use WordPress, and created a greatly enhanced design which would be very attractive, 
							provide clear Calls to Action, and be easier for users to take important actions such as to sign up and upgrade their accounts. 
							We customized the Restrict Content Pro plugin to create membership support, incorporated PayPal to receive customer payments, 
							set up auto-generated emails to share important information and to prompt users to upgrade their trial accounts. 
							We also used LearnDash to created interactive quizzes that corresponds to each chapter. </p>
							<div class="row-wrapper">
								<span class="row-title">Client</span>
								<h5>Children's Century Classics</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Creative Fields</span>
								<h5>Development, Art Direction</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Year</span>
								<h5>2018</h5>
							</div>
							<div class="project-launch">
								<a href="https://childrenscenturyclassics.com" target="_blank">Launch Project &#8594;</a>
							</div>
						</div>
					</div>
				</div>
		</div>
		<!-- Modal12 -->
		<div id="modal">
				<div class="modal-content">
					<div id="modal-close">&#8592;<span></span>Get Back</div>
					<div class="main-content">
						<img src="/public/images/jeewit-bachan.png" 
							 alt="better-way-of-life" 
							 onclick="imageClick('https://jeewitbachan.com/')"
							 style="cursor: pointer"
							 >
						<div class="main-content-left">
							<h3>Jeewit Bachaan</h3>
							<h6>Web Development</h6>
							<p>Reach Nepal, Inc required a web application for their Jeewit Bachan program, where users could watch the latest videos, read books, 
							and listen to audiobooks. They needed something that could scale, was very fast, and had a great user experience design.
							We decided this would be a great project to implement React with a Node server. This would maximize the performance which was 
							especially important since many users access the site through mobile data. We are currently in the process of setting up a CMS 
							backend to manage the content and convert the site into a Progressive Web App.</p>
							<div class="row-wrapper">
								<span class="row-title">Client</span>
								<h5>Jeewit Bachaan</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Creative Fields</span>
								<h5>Development, Art Direction</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Year</span>
								<h5>2019</h5>
							</div>
							<div class="project-launch">
								<a href="https://jeewitbachan.com/" target="_blank">Launch Project &#8594;</a>
							</div>
						</div>
					</div>
				</div>
		</div>
		<!-- Modal13 -->
		<div id="modal">
				<div class="modal-content">
					<div id="modal-close">&#8592;<span></span>Get Back</div>
					<div class="main-content">
						<img src="/public/images/wheel-of-faith-ministries.png" 
							 alt="better-way-of-life" 
							 onclick="imageClick('https://wheeloffaithministries.org/')"
							 style="cursor: pointer"
							 >
						<div class="main-content-left">
							<h3>Wheel Of Faith Ministries</h3>
							<h6>Custom WordPress Development</h6>
							<p>Wheel of Faith Ministries needed a very simple and inexpensive website to share information about their organization, 
							receive donations, announce upcoming events and sell one of their products. We opted to build the site with WordPress 
							to minimize cost and speed up the development time. We integrated PayPal to receive donations and added the ability to
							keep records of donors and donations and generated automatic Tax-deductible donation receipts.</p>
							<div class="row-wrapper">
								<span class="row-title">Client</span>
								<h5>Wheel Of Faith Ministries</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Creative Fields</span>
								<h5>Development, Art Direction</h5>
							</div>
							<div class="row-wrapper">
								<span class="row-title">Year</span>
								<h5>2017</h5>
							</div>
							<div class="project-launch">
								<a href="https://wheeloffaithministries.org/" target="_blank">Launch Project &#8594;</a>
							</div>
						</div>
					</div>
				</div>
		</div>


		<!--POPUP MODAL ENDS -->
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <img src="/public/images/logo.png" alt="Blue logo" height="100" width="100">
                            </a>
                        </h1>
                    </div>
					<nav role="navigation">
						<div id="menuToggle">
							{{!-- <input type="checkbox" /> --}}
							<span></span>
							<span></span>
							<span></span>
							<ul id="menu">
								<a href="#services"><li><i class="fas fa-home"></i>Services</li></a>
								<a href="#portfolio"><li><i class="fas fa-briefcase"></i></i>Portfolio</li></a>
								<a href="#about" class="open"><li><i class="fas fa-building"></i></i>About</li></a>
								<a href="#contact"><li><i class="fas fa-id-card-alt"></i></i>Contact</li></a>
							</ul>
						</div>
					</nav>
					{{!-- <div class="tab-nav-container">
						<div class="tab active purple">
							<i class="fas fa-home"></i>
							<p>House</p>
						</div>
						<div class="tab pink">
							<i class="far fa-heart"></i>
							<p>Likes</p>
						</div>
						<div class="tab yellow">
							<i class="fas fa-search"></i>
							<p>Search</p>
						</div>
						<div class="tab teal">
							<i class="far fa-user"></i>
							<p>Profile</p>
						</div>
					</div> --}}
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
				<div class="hero-left-decoration is-revealing"></div>
				<div class="hero-right-decoration is-revealing"></div>
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0 is-revealing">US-Based Web &amp; Mobile Development Agency</h1>
	                        <p class="hero-paragraph is-revealing">The complete solution for all your development and digital marketing needs.</p>
	                        <p class="hero-cta mb-0 is-revealing">
								<a class="button button-primary button-shadow" href="#services">Learn More</a>
							</p>
						</div>
						<div class="hero-illustration">
							<img class="hero-img is-revealing" src="/public/images/header_img.png" alt="Web Development">
						</div>
                    </div>
                </div>
            </section>

            <section class="clients section">
                <div class="container">
                    <div class="clients-inner section-inner has-top-divider">
                        <div class="container-sm">
                            <ul class="list-reset mb-0">
                                <li class="is-revealing">
                                    <img src="/public/images/node-js.png" alt="Node js logo" class="">
                                </li>
                                <li class="is-revealing">
                                    <img src="/public/images/react.png" alt="React logo" class="">
                                </li>
                                <li class="is-revealing">
                                    <img src="/public/images/mongo-db.png" alt="Mongo db logo" class="">
                                </li>
                                <li class="is-revealing">
                                	<img src="/public/images/wordpress.png" alt="Wordpress logo" class="">
                                    
                                </li>
								<li class="is-revealing">
									<img src="/public/images/paw.png" alt="paw logo" class="">
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
			{{!-- <section id="about" class="section">
				<div class="container">
					<p>Any agency can tell you whatever you want to hear, but It’s hard to find an affordable developer or web marketer whom you can count on to do as they promise. Additionally, it’s nearly impossible to find premium development and marketing services without breaking the bank! Then there was WebPoint!</p> 
					<p>We know it is hard to trust a stranger, so we operate with total transparency and we remain in constant communication with our clients from start to finish. WebPoint Solutions proudly offers no-questions-asked, money-back guarantees if, for some reason, we’re not able to deliver what we say we will deliver when we accept your contract.  In other words; we put our money where our mouth is!</p>
</p>
				</div>
			</section> --}}
			<section class="features section text-center">
                <div class="container">
                    <div class="features-inner section-inner has-top-divider">
						<div class="features-header text-center">
							<div class="container">
								<h2 id="services" class="section-title mt-0">Our Services</h2>
								{{!-- <p class="section-paragraph mb-0">Using the latest tools and technologies to create solutions that will help your business or organization give your clients a great experience.</p> --}}
								<p class="section-paragraph mb-0">Any agency can tell you whatever you want to hear, but It’s hard to find an affordable developer or web marketer whom you can count on to do as they promise. Additionally, it’s nearly impossible to find premium development and marketing services without breaking the bank! Then there was WebPoint Solutions!</p> <br>
								<p class="section-paragraph mb-0">We know it is hard to trust a stranger, so we operate with total transparency and we remain in constant communication with our clients from start to finish. WebPoint Solutions proudly offers no-questions-asked, money-back guarantees if, for some reason, we’re not able to deliver what we say we will deliver when we accept your contract.  In other words; we put our money where our mouth is!</p>
							</div>
						</div>
                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/public/images/web-dev.svg" alt="Feature 01">
                                    </div>
                                    <h4 class="feature-title">WEB DEVELOPMENT</h4>
                                    <p class="text-sm">We create engaging web experiences using the latest technologies</p>
									<p class="learn-more open">Learn More...</p>
                                </div>
                            </div>

                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/public/images/ui-ux.svg" alt="Feature 03">
                                    </div>
                                    <h4 class="feature-title">UX DESIGN</h4>
                                    <p class="text-sm">Thorough research and testing to maximize your website's usability</p>
									<p class="learn-more open">Learn More...</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/public/images/web-host.svg" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title">WEB HOSTING</h4>
                                    <p class="text-sm">Fast, reliable, and secure hosting on industry leading providers</p>
									<p class="learn-more open">Learn More...</p>
                                </div>
                            </div>
							 <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/public/images/store.svg" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title">E-COMMERCE</h4>
                                    <p class="text-sm">We create customized e-commerce solutions your customers will love</p>
									<p class="learn-more open">Learn More...</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/public/images/web-maintenance.svg" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title">WEBSITE MAINTENANCE</h4>
                                    <p class="text-sm">Keeping your website safe, up-to-date and running smoothly</p>
									<p class="learn-more open">Learn More...</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/public/images/marketing.svg" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title">DIGITAL MARKETING/SEO</h4>
                                    <p class="text-sm">We help you reach a wider audience and maximize your ROI</p>
									<p class="learn-more open">Learn More...</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/public/images/wordpress.svg" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title">WORDPRESS MANAGEMENT</h4>
                                    <p class="text-sm">We take the headache out of maintaining your site so you can focus on your clients</p>
									<p class="learn-more open">Learn More...</p>
                                </div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/public/images/mobile-app.svg" alt="Feature 02">
                                    </div>
                                    <h4 class="feature-title">APP DEVELOPMENT &amp; PWAs</h4>
                                    <p class="text-sm">We build modern apps and add app-like functionality to your websites with PWSs</p>
									<p class="learn-more open">Learn More...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

			<!-- <section class="features-tabs section">
                <div class="container">
                    <div class="features-tabs-inner section-inner has-top-divider">
						<div class="features-header text-center">
							<div class="container-sm">
								<h2 class="section-title mt-0">Our Solutions</h2>
							</div>
						</div>
						<div class="tabs-container">
							<ul class="tabs-links">
								<li class="is-revealing">
									<a href="#tab-1" class="tab-link is-active">
										<img src="/public/images/tabs-icon-01.svg" alt="Tabs icon 01">
										<span class="h4 m-0">Small &amp; Medium Business</span>
									</a>
								</li>
								<li class="is-revealing">
									<a href="#tab-2" class="tab-link">
										<img src="/public/images/tabs-icon-02.svg" alt="Tabs icon 02">
										<span class="h4 m-0">Non-Profit Organizations</span>
									</a>
								</li>
								<li class="is-revealing">
									<a href="#tab-3" class="tab-link">
										<img src="/public/images/tabs-icon-03.svg" alt="Tabs icon 03">
										<span class="h4 m-0">Digital Transformation</span>
									</a>
								</li>
							</ul>
							<div class="tabs-content">
								<div id="tab-1" class="tab-panel is-active">
									<h3>Improve Your Customer Engagement</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<p class="mb-0">A arcu cursus vitae congue. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique.</p>
								</div>
								<div id="tab-2" class="tab-panel">
									<h3>Let Your Message Stand Out</h3>
									<p>A arcu cursus vitae congue. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique.</p>
									<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A arcu cursus vitae congue.</p>
								</div>
								<div id="tab-3" class="tab-panel">
									<h3>Keep it simple</h3>
									<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
									<p class="mb-0">Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.</p>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </section> -->
			<section class="project-completed">
				<!-- Projectes Completed section -->
						<div class="features-header text-center">
							<div class="container-sm">
								<div class="project-completed-title">
									<h2 id="portfolio" class="section-title mt-0" style="color: white;">PROJECT PORTFOLIO</h2>
								</div>
								{{!-- <p class="section-paragraph mb-0">Using the latest tools and technologies to create solutions that will help your business or organization give your clients a great experience.</p>
								 --}}
								<div class="nav-tab-container">
									<!--Tabs-->
									<!-- <ul id="nav-tab" class="nav">
										<li class="active"><a href="#all">All</a></li>
										<li><a href="#web-design">Web Design</a></li>
										<li><a href="#graphics-design">Graphics Design</a></li>
										<li><a href="#branding">Branding</a></li>
									</ul> -->

									<!-- Tab panes -->
									<div class="cta-inner section-inner is-revealing">
										<div class="tab-container">
										<div class="tab-pane active" id="all">
											<div id="tab-pane-wrapper">
												<div class="listitem">
													<h1>
														<div class="numbers"><span id="number">01</span></div>
													</h1>
													<div class="middle-part">
														<h6 class="cat-title">web design</h6>
														<h3 class="project-title">HHES Bible Story</h3>
													</div>
													<span class="circular-icon open">+</span>
												</div>
												<div class="listitem">
													<h1>
														<div class="numbers"><span id="number">02</span></div>
													</h1>
													<div class="middle-part">
														<h6>web design</h6>
														<h3>Better Way Of Life</h3>
													</div>
													<span class="circular-icon open">+</span>
												</div>
											
												<div class="listitem"><h1>
													<div class="numbers"><span id="number">03</span></div>
													</h1>
													<div class="middle-part">
														<h6>Custom WordPress Development</h6>
														<h3>Children's Century Classics</h3>
													</div>
													<span class="circular-icon open">+</span>
												</div>
												<div class="listitem"><h1>
													<div class="numbers"><span id="number">04</span></div>
													</h1>
													<div class="middle-part">
														<h6>Web Development</h6>
														<h3>Jeewit Bachaan</h3>
													</div>
													<span class="circular-icon open">+</span>
												</div>
											
												<div class="listitem"><h1>
													<div class="numbers"><span id="number">05</span></div>
													</h1>
													<div class="middle-part">
														<h6>Custom WordPress Development</h6>
														<h3>Wheel Of Faith Ministries</h3>
													</div>
													<span class="circular-icon open">+</span>
												</div>
										</div>
										<div class="load-more"><!--<span id="down-arrow"> ↓ </span>Load More--></div>

										{{!-- <div class="tab-pane" id="web-design">
										<h4>Web Design Panel</h4>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iure quos cum, saepe reprehenderit minima quasi architecto numquam nesciunt dicta. Qui excepturi recusandae vitae maiores, inventore sequi? Rerum, odio omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias distinctio, tempora incidunt aliquid adipisci, minus rerum optio libero quae provident sed at dignissimos, quia nostrum! Fuga dolorum quia hic magni.</p></div>
										<div class="tab-pane" id="graphics-design">
										<h4>Graphics Design Panel</h4>
										<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quos, at qui aspernatur minus animi hic sunt necessitatibus incidunt molestiae reprehenderit ratione neque odit ipsa. Nemo laborum consequatur adipisci beatae!</p>
										</div>
										<div class="tab-pane" id="branding">
										<h4>Branding Panel</h4>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima possimus sed odit iste vitae, magnam amet illum laudantium ea! Fugiat consectetur consequuntur qui eos obcaecati sequi ipsam repellat vero voluptate.</p>
										</div> --}}
									</div>
								</div>
							</div>
						</div>
					</div>
									
						<!-- End Projectes Completed section -->
			</section>

			{{!-- <section class="testimonials section">
				<div class="container">
					<div class="testimonials-inner section-inner">
						<div class="testimonials-header text-center text-light">
							<h2 class="section-title mt-0">Testimonials</h2>
						</div>
						<div class="testimonials-wrap">
							<div class="testimonial text-sm is-revealing">
								<div class="testimonial-inner">
									<div class="testimonial-main">
										<div class="testimonial-body">
											<p>I’ve read a ton of blog posts about how some startups hit this milestone with ease. They came up with an amazing idea that “just clicked”, made!</p>
										</div>
									</div>
									<div class="testimonial-footer">
										<div class="testimonial-name"><a href="#">@mikesmith</a></div>
									</div>
								</div>
							</div>
							<div class="testimonial text-sm is-revealing">
								<div class="testimonial-inner">
									<div class="testimonial-main">
										<div class="testimonial-body">
											<p>I’ve read a ton of blog posts about how some startups hit this milestone with ease. They came up with an amazing idea that “just clicked”, made!</p>
										</div>
									</div>
									<div class="testimonial-footer">
										<div class="testimonial-name"><a href="#">@mikesmith</a></div>
									</div>
								</div>
							</div>
							<div class="testimonial text-sm is-revealing">
								<div class="testimonial-inner">
									<div class="testimonial-main">
										<div class="testimonial-body">
											<p>I’ve read a ton of blog posts about how some startups hit this milestone with ease. They came up with an amazing idea that “just clicked”, made!</p>
										</div>
									</div>
									<div class="testimonial-footer">
										<div class="testimonial-name"><a href="#">@mikesmith</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> --}}

            <!--\ <section class="pricing section">
                <div class="container">
                    <div class="pricing-inner section-inner">
						<div>
							<div class="pricing-tables-wrap">
								 THIS PART HAS PRICING OPTIONS,WHICH IS HIDDEN FOR FUTURE PURPOSE
								<div class="pricing-table is-revealing">
									<div class="pricing-table-inner">
										<div class="pricing-table-main">
											<div class="pricing-table-header mb-24 pb-24">
												<div class="pricing-table-title h4 mt-0 mb-16">Startup</div>
												<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">29</span>/m</div>
											</div>
											<ul class="pricing-table-features list-reset text-xs">
												<li>
													<span>Lorem ipsum dolor sit amet</span>
												</li>
												<li>
													<span>Lorem ipsum dolor sit amet</span>
												</li>
												<li>
													<span>Lorem ipsum dolor sit amet</span>
												</li>
												<li>
													<span>Lorem ipsum dolor sit amet</span>
												</li>
											</ul>
										</div>
										<div class="pricing-table-cta">
											<a class="button button-secondary button-shadow button-block" href="#">Get started</a>
										</div>
									</div>
								</div>
								<div class="pricing-table is-revealing">
									<div class="pricing-table-inner">
										<div class="pricing-table-main">
											<div class="pricing-table-header mb-24 pb-24">
												<div class="pricing-table-title h4 mt-0 mb-16">Enterprise</div>
												<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">49</span>/m</div>
											</div>
											<ul class="pricing-table-features list-reset text-xs">
												<li>
													<span>Lorem ipsum dolor sit amet</span>
												</li>
												<li>
													<span>Lorem ipsum dolor sit amet</span>
												</li>
												<li>
													<span>Lorem ipsum dolor sit amet</span>
												</li>
												<li>
													<span>Lorem ipsum dolor sit amet</span>
												</li>
											</ul>
										</div>
										<div class="pricing-table-cta">
											<a class="button button-primary button-shadow button-block" href="#">Get started</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="pricing-faqs container-sm is-revealing">
							<h4 class="mt-40 mb-32">FAQs</h4>
	                        <ul class="accordion">
	                            <li>
	                                <div class="accordion-title">
										<span>In a professional context it often happens that private?</span>
										<div class="accordion-icon"></div>
									</div>
	                                <div class="accordion-body">
	                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	                                </div>
	                            </li>
								<li>
									<div class="accordion-title">
										<span>Lorem ipsum dolor sit amet, consectetur</span>
										<div class="accordion-icon"></div>
									</div>
									<div class="accordion-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam semper. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</li>
								<li>
									<div class="accordion-title">
										<span>In a professional context it often happens that private?</span>
										<div class="accordion-icon"></div>
									</div>
									<div class="accordion-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
									</div>
								</li>
								<li>
									<div class="accordion-title">
										<span>Lorem ipsum dolor sit amet, consectetur</span>
										<div class="accordion-icon"></div>
									</div>
									<div class="accordion-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam semper. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</li>
	                        </ul>
						</div> 
                    </div>
                </div>
            </section> -->
			{{alert}}
			<section id="contact" class="cta section">
				<div class="container">
					<div class="section-inner">
						<!--CONTACT US FORM START'S HERE-->
						<div class="form-background">
							<div class="content-group">

								{{!-- <img src="/public/images/contact-img.jpg" /> --}}
							</div>
							<div class="form-group">
								<div class="title">
									<h3>Let's Connect</h3>
								</div>
								<p>Have an awesome new project idea? Need a reliable partner to improve your product? Request a No-Cost, No-Obligation Consultation Via Phone, Skype, or Email.</p>
									<hr>
								<div class="form-wrapper">
									{{!-- <div class="initail">I'd like to talk about...</div> --}}
										<form class="form" id="contact-form" method="POST" >
											{{!-- <div class="inputBox-2">
											
											<select name='caption'>
												<option>Working together on a project</option>
												<option>host my website</option>
												<option>Website maintainance</option>
											</select>
										</div> --}}
										<div class="inputBox-1">
											<div class="name">
											<input type="text"  id="name" required name="name" maxlength="12"><label>Your Name*</label>
											</div>
												<div class="name">
											<input type="text"  id="companyname" required name="companyname" maxlength="30"><label>Company Name*</label>
										</div>
										</div>
										<div class="inputBox">
											<input required id="email" name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"><label>Email address*</label>
										</div>


										<!-- tell me more about project section -->
										<div class="">
											<textarea id="message" class="form-textarea" rows="4" placeholder="Tell us about the project*" name="message"></textarea>
										</div>
									<!-- end of tell me more about project section -->
		{{!-- 
										<div class="inputBox-4">
											<div class="range"><h3>
												Budget
											</h3>
												<output name="budgetOutput" id="budgetOutputId" class="output"><5,000 </output>
											</div>
											<input type="range" class="slider" name="budgetRange" id="budgetInputId" value="1000" min="1000" max="50000" step="1000" oninput="budgetOutputId.value = budgetInputId.value">
										
										</div> --}}
										<!--recapcha -->
											<div class="recaptcha">
												<div class="g-recaptcha" data-sitekey="6LfOg8AUAAAAALC-E4Pq9PK7eUxwvKAmzlEwt-6y"></div>
											</div>
											<div class="btn-wrapper">
												<button type="submit" class="btn">Submit</button>
											</div>
										</form>
										<div id="notify" class="alert alert-success"></div>
									</div>
							</div>
						</div>	
						<!--CONTACT US FORM ENDS HERE -->

				</div>
			</section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                     <div class="brand">
                        <a href="#">
                            <img src="/public/images/logo.png" alt="logo" width="100" height="100">
                        </a>
                    </div>
					<div class="footer-location">
						<h2>Location</h2>
						<span>55 Alcovy Forest Dr</span><br/>
						<span>Covington GA 30014</span>
					</div>
					<div class="footer-contact">
						<h2>Contact</h2>
						<a href="tel:1-404-755-6225">+1 (404) 755-6225</a><br/>
						<a href="mailto:sales@webpoint.io">sales@webpoint.io</a>
					</div>
                    {{!-- <ul class="footer-links list-reset">
                        <li>
	                     	<img src="/public/images/mobile-phone.png">
                        </li>
                        <li>
	                        +1 (470) 755-6225
                        </li>
                        <li>
	                     	<img src="/public/images/email.png">
                        </li>
                        <li>
                            <a href="mailto:info@webpoint.io">info@webpoint.io</a>
                        </li>
                        <li>
	                     	<img src="/public/images/maps-and-flags.png">
                        </li>
                        <li>
                            <p>55 Alcovy Forest Dr<br/>
                            	Covington, GA 30014
                            </p>
                        </li>   
                    </ul> 
                    <ul class="footer-social-links list-reset">
                         <li>
                            <a href="#">
                                <span class="screen-reader-text">Facebook</span>
                                <svg width="16" height="16" xmlns="https://www.w3.org/2000/svg">
                                    <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z" fill="#FFF"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Twitter</span>
                                <svg width="16" height="16" xmlns="https://www.w3.org/2000/svg">
                                    <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z" fill="#FFF"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Google</span>
                                <svg width="16" height="16" xmlns="https://www.w3.org/2000/svg">
                                    <path d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z" fill="#FFF"/>
                                </svg>
                            </a>
                        </li> 
                    </ul>
                     --}}
                </div>
				<span><a href="/privacy">Privacy Policy</a></span>
				<div class="footer-copyright">&copy;<span id="currentYear"></span>WebPoint Solutions, LLC, all rights reserved</div>
            </div>
        </footer>
	</div>
	<script src="/public/js/main.min.js"></script>
	<script src="/public/js/main.js"></script>
</body>
</html>
