<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebPoint Solutions LLC</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700|Arimo:400,700" rel="stylesheet">
	<link rel="shortcut icon" href="/public/images/wp-favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/form.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body id="body" class="is-boxed has-animations">   
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="/">
                                <img src="/public/images/logo.png" alt="Blue logo" height="100" width="100">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>
           <main>
            <section class="hero">
				<div class="hero-left-decoration is-revealing"></div>
				<div class="hero-right-decoration is-revealing"></div>
            </section>

    <div class="container">
        <div class="features-inner section-inner has-top-divider">
			<div class="features-header text-center">
				<div class="container-sm">
					<h2 id="services" class="section-title mt-0">Privacy Policy</h2>
                </div>
            </div>
        </div>
        <p>WebPoint Solutions LLC (https://webpoint.io./) is committed to protecting the privacy of all of our website visitors. In this privacy policy, you can familiarize yourself with the different kinds of information that we collect and how we use it. If you have any questions regarding how WebPoint Solutions LLC protects your privacy, feel free to contact us via phone or email:</p> <br>
        <p>Email: info@webpoint.io <br>
            Phone: +1 (404) 755-6225.
        </p> <br>
        <h4>Log Files</h4>
        <p>WebPoint Solutions uses standard procedures when we use log files. These are the files that log when a visitor visits our website. Every hosting company does this as a way to provide hosting analytics. The important information contained in log files includes IP addresses, ISPs, date and time stamp, referring/exit pages, browser type, and even how many clicks you made on our website.  </p>
        <p>You can rest assured that this information is not linked to any identifiable personal information. We use this information solely for the purpose of analyzing trends, administering our website, tracking our visitors' movements while they are on our website, and obtaining demographic information.</p><br>
        <h4>Cookies and Beacons</h4>
        <p>All websites use cookies, so WebPoint Solutions is no exception! Cookies are used by every website to store information, such as visitor preferences and the pages that the visitor visited while on the website. The information that we collect through cookies helps us to optimize your experience when you are on our website. For example, we try to customize our web page content based on our visitors' browser types and other information that we gain through cookies. </p>
        <p>If you would like to, you can disable or manage cookies through your browser settings. If you would like to learn more about how to manage cookies with the browser that you are using, you will need to find it on your browser's respective website.</p><br>
        <h4>Third-Party Privacy Policies</h4>
        <p>WebPoint Solutions's Privacy Policy does not apply to other advertisers or websites. You will need to consider the individual privacy policies of any respective third-party ad servers, partners, or other websites that we link to. On each respective site is where you will likely find the information about how to opt-out of their options and what their privacy protection practices are.  </p><br> 
        <h4>Children's Information</h4>
        <p>WebPoint Solutions is very serious about protecting children if and when they land on our website. Of course, we encourage parents always to observe, monitor, and participate in their children's online activities, but we also know that this is not always possible. That is why WebPoint Solutions goes above and beyond to protect the privacy of minors.</p>
        <p>WebPoint Solutions does not knowingly collect any Personal Identifiable Information from children under the age of 13. However, if you suspect that your child provided this kind of identifiable information on our https://webpoint.io./, then please, contact us ASAP! We will gladly and promptly remove any such information from our records if it has been acquired. </p><br>
        <h4>Online Privacy Policy Only</h4>        
        <p>This privacy policy is limited in scope, as it only applies to our activities online. Our website visitors should know that this policy is not applicable to any information that is obtained via offline channels outside of this website.</p><br>
        <h4>Consent</h4>
        <p>By using https://webpoint.io./, you are consenting to the terms and conditions set forth in this privacy policy.</p>

    </div>   
    </main> 
        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                     <div class="brand">
                        <a href="#">
                            <img src="/public/images/logo.png" alt="logo" width="100" height="100">
                        </a>
                    </div>
					<div class="footer-location">
						<h2>Location</h2>
						<span>55 Alcovy Forest Dr</span><br/>
						<span>Covington GA 30014</span>
					</div>
					<div class="footer-contact">
						<h2>Contact</h2>
						<a href="tel:1-404-755-6225">+1 (404) 755-6225</a><br/>
						<a href="mailto:sales@webpoint.io">sales@webpoint.io</a>
					</div>
                </div>
				<div class="footer-copyright">&copy;<span id="currentYear"></span>WebPoint Solutions, LLC, all rights reserved</div>
            </div>
        </footer>
	</div>
	<script src="/public/js/main.min.js"></script>
	<script src="/public/js/main.js"></script>
</body>
</html>
